* {
    margin: 0;
}

.hide {
    display: none;
}

body {
    font-size: 16px;
    width: 100%;
    background-color: darkblue;
}

header {

}

.main-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    width: 100%;
}

.message {
    width: 90%;
    margin: 1rem auto;
}

.boards {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 1rem auto;
}

.defence,
.attack {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
}

.row {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.square {
    width: 2rem;
    height: 2rem;
    border: 1px solid yellow;
}

.miss {
    background-color: white;
}

.hit {
    background-color: red;
}

.ship {
    background-color: black;
}

@media (min-width: 768px) {
    .boards {
        flex-direction: row;
        justify-content: space-evenly;
    }

}