:root {
    --bg-color: #1b263b;
    --font-color: #e0e1dd;
}

* {
    margin: 0;
}

body {
    font-family: "Quantico", sans-serif;
    font-size: 16px;
    color: var(--font-color);
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
}

.landing-page .button-div button,
.landing-page button {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-weight: 700;
    font-family: "Quantico", sans-serif;
}

.landing-page .button-div button:hover,
.landing-page button:hover {
    box-shadow: 0px 0px 10px 2px #93e1d8;
}

.landing-page h1 {
    color: var(--bg-color);
}

header {
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-top: 2rem;
}

h3 {
    font-size: 2rem;
    text-decoration: underline;   
}

p {
    font-size: 1.5rem;
}

input {
    padding: 0.5rem 0.75rem;
    border-radius: 8px;
    font-size: 1rem;
}

label {
    font-size: 1.5rem;
}

button {
    padding: 0.5rem 0.75rem;
    margin-top: 0.75rem;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
}

button:hover {
    box-shadow: 0px 0px 10px 2px yellow;
}

.button-div {
    display: flex;
    gap: 2rem;
}

.rules-div {
    width: 80%;
}

.rules {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #1b263b;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 2px #93e1d8;
}

.main-container,
#two-play-form,
#one-play-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 90%;
    margin: 2rem auto;
}

.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-image: url("./assets/boat.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

#two-play-form div,
#one-play-form div {
    text-align: center;
}

.message {
    width: 90%;
    min-height: 6rem;
    text-align: center;
}

.boards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

.defence,
.attack {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
}

.board-disabled {
    pointer-events: none;
}

.row {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.square {
    width: 2rem;
    height: 2rem;
    border: 2px solid yellow;
    transition: background-color 0.2s;
}

.square.highlight {
  background-color: #778da9;
}

.square.invalid {
  background-color: #ff595e;
}

.square.occupied {
  background-color: var(--font-color);
}

.miss {
    /* background-color: #778da9; */
    background-image: url("./assets/miss.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hit {
    /* background-color: #ff595e; */
    background-image: url("./assets/hit.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.shipyard {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    width: 80%;
    align-items: center;
    margin: 0 auto;
}

.ship-container {
    width: 75%;
    text-align: center;
}

.ships {
    filter: brightness(0) invert(0.5);
    width: 75%;
    cursor: grab;
    user-select: none;
}

.hide {
    display: none;
}

@media (min-width: 768px) {
    .boards {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .shipyard {
        width: 30%;
    }
    .square {
        height: 2.5rem;
        width: 2.5rem;
    }
    .rules-div {
        width: 60%;
    }
    h1 {
    font-size: 4rem;
    margin-top: 3rem;
    }
}

@media (min-width: 1200px) {
    .square {
        height: 3rem;
        width: 3rem;
    }
    .rules-div {
        width: 40%;
    }
    h1 {
    font-size: 5rem;
    margin-top: 4rem;
    }
}